<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 6</title>
    <link rel="stylesheet" href="../CSS/Layout6.css">
</head>

<body>
    <div class="container">
        <header>
            header
        </header>
        <nav>
            nav
        </nav>
        <div>
            <section>
                section
                <div>
                    <article id="art1">
                        article
                    </article>
                    <article id="art2">
                        article
                    </article>
                </div> 
            </section>
            <aside>
                aside
            </aside> 
        </div>
        <footer>
            footer
        </footer>
    </div>
</body>
</html>
